<%- include layout.ejs -%>
<link rel="stylesheet" href="/s/css/chat.css">
<div class="animsition container-fluid">
  <div class="chat col-md-8 col-md-offset-2">
    <div class="block row">
      <div class="block-left block-content col-md-3">
        <ul>
          <li class="search"><input class="input"type="text" name="search" placeholder="Search"></li>
          <% if (user._id !== "58423f1f18171f23396c485e"){ %>
          <li data-target="58423f1f18171f23396c485e" class="friends">
            <div class="user">Johnny</div>
            <div class="first"></div>
          </li>
          <% } else { %>
          <li data-target="5846c6afe974967e1a796f38" class="friends">
            <div class="user">Ruby</div>
            <div class="first"></div>
          </li>
          <% } %>
        </ul>
      </div>      
      <div class="block-right block-content col-md-offset-3 col-md-8">
        <div class="row content">
          <ul>
          </ul>
        </div>        
        <div class="row msgEnter">
          <input class="input" placeholder="Please choose the contact first..." name="message" autocomplete="off" disabled/>
        </div>        
      </div>
    </div>
  </div>
</div>
<script src="/s/js/socket.io.js"></script>
<script>
var $scroll = $(".block-right .content");
var user = "<% if (user) { %><%= user._id %><% } %>";
if ( !user) {
  location.href( "/login");
}
var socket = io('<%=serverInfo.IO%>');
</script>
<script src="/s/js/chat.js"></script>
<%- include footer.ejs -%>
