<%- include layout.ejs -%>
<link rel="stylesheet" href="/s/css/chat.css">
<div class="animsition container-fluid">
  <div class="chat col-md-8 col-md-offset-2">
    <div class="block row">
      <div class="block-left block-content col-md-3">
        <ul>
          <li class="search"><input class="input"type="text" name="search" placeholder="Search"></li>
          <% if (user._id !== "58423f1f18171f23396c485e"){ %>
          <li data-target="58423f1f18171f23396c485e" class="friends">
            <div class="user">Johnny</div>
            <div class="first"></div>
          </li>
          <% } else { %>
          <li data-target="5846c6afe974967e1a796f38" class="friends">
            <div class="user">Ruby</div>
            <div class="first"></div>
          </li>
          <% } %>
        </ul>
      </div>      
      <div class="block-right block-content col-md-offset-3 col-md-8">
        <div class="row content">
          <ul>
          </ul>
        </div>        
        <div class="row msgEnter">
          <input class="input" placeholder="Write a message..." name="message" autocomplete="off"/>
        </div>        
      </div>
    </div>
  </div>
</div>
<script src="/s/js/socket.io.js"></script>
<script>
  $(function (){
    var $scroll = $(".block-right .content");
    $scroll.scrollTop( $scroll[0].scrollHeight);
    var socket = io('http://localhost:<%=port%>');
    socket.on("connect", function (){
      if (user !== ""){
        socket.emit( 'regist', { secret: user});
      }
    });
    socket.on('msgOut', function (data) {
      console.log(data);
      receive(data);
    });
    $(".msgEnter input").keypress( function (e){
      var code = e.keyCode ? e.keyCode : e.which;
      var $this = $(this);
      if ( code === 13 && $this.val().trim() !== ""){
        sendMsg( socket, $this.val(), $this.data("target"));
        $this.val("");
      }
    });
    $(".friends").on( "click", function(){
      var $this = $(this);
      $(".msgEnter input").data("target", $this.data("target"));
      console.log("switch target to " + $this.data("target"));
    });
  });
  var user = "<% if (user) { %><%= user._id %><% } %>";
  function sendMsg( socket, msg, target) {
    var from = "<li class=\"row from\"><span class=\"bubble\">"+ msg +"</span></li>";
    $(".content ul").append(from);
    console.log( target, user, msg );
    socket.emit('msgIn', { target: target, from: user, msg: msg});
  }
  function receive(data){
    var to = "<li class=\"row to\"><span class=\"bubble\">"+ data.msg +"</span></li>";
    $(".content ul").append(to);
  }
</script>
<%- include footer.ejs -%>
