<!DOCTYPE html>
<html lang="zh-tw">
  <head>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="/s/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/s/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/s/animsition/css/animsition.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="/s/bootstrap/js/bootstrap.min.js"></script>
    <script src="/s/animsition/js/animsition.min.js"></script>
    <script src="//code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
    <!-- bg image -->
    <style>
      body {
        margin-top: 50px;
        margin-bottom: 50px;
        background: none;
      }

      .full {
        background: url(/s/images/bg-image.jpg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }
    </style>
    <script>
      $(document).ready(function() {
        $(".animsition").animsition({
          onLoadEvent: false
        });
      });
      $(window).on('load', function() {
        $(".animsition").each(function(i){
          $(this).animsition('in');
        });
      });
    </script>
  </head>
  <body class="full">
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/home">PG-Chat</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <!-- <ul class="nav navbar-nav"> -->
                <!--     <li> -->
                <!--         <a href="#">About</a> -->
                <!--     </li> -->
                <!--     <li> -->
                <!--         <a href="#">Services</a> -->
                <!--     </li> -->
                <!--     <li> -->
                <!--         <a href="#">Contact</a> -->
                <!--     </li> -->
                <!-- </ul> -->
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="animsition main container-fluid">
