<!DOCTYPE html>
<html lang="zh-tw">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>

  <!--  FOR GOOGLE SEO-->
  <meta name="google-site-verification" content="2GVFhL2QXg7SAu8q7BW6Q4-vXNDzcGB4VTn29LjG-8E" />
  <link rel="alternate" href="http://coox.tw/" hreflang="x-default" />

  <!-- SEO -->
  <meta name="author" content="Johnny Huang">
  <meta name="keywords" itemprop="keywords" content="chat, code, highlight">
  <!-- <meta name="twitter:card" content="summary" /> -->
  <!-- <meta name="twitter:site" content="coox" /> -->
  <!-- <meta property="article:publisher" content="">  -->
  <meta property="og:locale" content="zh-tw">
  <meta property="og:description" itemprop="description" name="description" name="twitter:description" lang="zh-Hant-TW" content="Coox is a chat web application that could highlight the code">
  <meta property="og:site_name" name="application-name" content="Coox"> 
  <meta property="og:url" itemprop="url" content="http://coox.tw/">
  <meta property="og:type" content="website">
  <meta property="og:title" itemprop="name" name="twitter:title" content="Coox">
  <meta property="og:image" itemprop="image" name="twitter:image:src" content="/s/images/tiny.png">
  <meta itemprop="dateCreated" content="2017-01-08T00:00+08:00">
  <meta itemprop="dateModified" content="2017-01-09T00:00:00+08:00">
  <meta itemprop="datePublished" content="2017-01-10T00:00:00+08:00">
  <link rel="shortcut icon" href="/s/images/favicon.ico">
  <link rel="apple-touch-icon" href="/s/images/favicon.ico" />
  <link rel="apple-touch-icon-precomposed" href="/s/images/favicon.ico" />
  <title>Coox</title>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="/s/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/s/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/s/animsition/css/animsition.min.css">
  <link rel="stylesheet" href="/s/tooltips/css/tooltipster.bundle.min.css">
  <link rel="stylesheet" href="/s/tooltips/css/plugins/tooltipster/sideTip/themes/tooltipster-sideTip-borderless.min.css">
  
  <!-- inject:js -->
  <script type="text/javascript" src="/s/js/jquery.min.js"></script>
  <script type="text/javascript" src="/s/bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/s/animsition/js/animsition.min.js"></script>
  <script type="text/javascript" src="/s/js/jquery.ui.min.js"></script>
  <script type="text/javascript" src="/s/tooltips/js/tooltipster.bundle.min.js"></script>
  <!-- endinject -->
  <!-- bg image -->
  <style>
    body {
      margin-top: 50px;
      margin-bottom: 50px;
      background: none;
    }

    .full {
      background: url(/s/images/bg-image.jpg) no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
  </style>
  <script>
    $(document).ready(function() {
      $(".animsition").animsition({
        onLoadEvent: false
      });
    });
    $(window).on('load', function() {
      $(".animsition").each(function(i){
        $(this).animsition('in');
      });
    });
  </script>
  </head>
  <body class="full">
    <!-- Page Content -->
    <div class="animsition main container-fluid">
