<%- include layout.ejs -%>
<div class="container load">
<div class="row loginBlock">
  <form class="col-md-6 col-md-offset-3">
    <h1>PG-Chat<span class="msg"></span> </h1>
    <div class="user col-md-12 input-group input-group-lg">
      <span class="input-group-addon"><i class="fa fa-user-circle" aria-hidden="true"></i></span>
      <input type="email" name="email" class="form-control" placeholder="Username" required autoFocus value="test@test.com" />
    </div>
    <div class="pass col-md-12 input-group input-group-lg">
      <span class="input-group-addon"><i class="fa fa-eye" aria-hidden="true"></i></span>
      <input type="password" name="password" class="form-control" placeholder="Password" required value="test"/>
    </div>
    <div class="col-md-12 input-group input-group-lg">
      <button class="btn lg ghost form-control">Login<i class="fa fa-sign-in" aria-hidden="true" style="margin-left: 30px;"></i></button>
    </div>
  </form>
</div>
</div>
<!-- /.row -->
<style>
  .load.container {
    margin-top: 300px;
  }
  .loginBlock {
    float: none;
    background: rgba( 0,0,0,0.7);
    color: white;
    padding: 40px;
    border-radius: 30px;
  }

  .loginBlock .input-group {
    margin-bottom: 30px;
  }
  .btn {
    display: inline-block;
    border-radius: 2px;
    border: none;
    height: 45px;
    padding: 0;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .ghost {
    background-color: transparent;
    color: #F07444;
    border: 1px solid #F07444;
    transition: .2s ease;

  }
  .ghost:hover {
    background-color: #F07444;
    color: white;
    transition: .2s ease;
  }
  .msg {
    color: red;
    font-size: 20px;
    margin-left: 50px;
    display: none;
  }
</style>
<script>
  $(function (){
    $("button").on( "click", valid);
  })
  function valid (e) {
    e.preventDefault();
    var $user = $("input[type=\"email\"]");
    var $pass = $("input[type=\"password\"]");
    if ( !$user || $user.val() === "") {
      $(".user").effect( "shake" );
    }
    if ( !$pass || $pass.val() === "") {
      $(".pass").effect( "shake"); 
      return;
    } 
    $(".load").fadeOut("fast").animsition();
    return login ( $user.val(), $pass.val());
  }
  function login ( user, pass) {
    $.ajax({
      url: "/login",
      method: "POST",
      data: { username: user, password: pass},
      dataType: "json",
      timeout: 1000 * 10,
      success: function ( result) {
        if ( result.code === 200 && result.data){
          location.href = "/home";
        } else {
          $(".load").fadeIn("slow").animsition('in');
          $(".msg").html("<span class=\"glyphicon glyphicon-exclamation-sign\"></span>&nbsp;&nbsp;帳號或密碼錯誤，請重新輸入").css( "display", "inline-block").effect("shake");
        }
      },
      error: function ( err) {
        console.log( err);
        $(".load").fadeIn("slow").animsition('in');
        $(".msg").css( "display", "inline-block").effect("shake");
      }
    });
  }
</script>
<%- include footer.ejs -%>
