<%- include ../layout.ejs -%>
<link rel="stylesheet" href="/s/css/member/login.css">
<div class="container load">
<div class="row loginBlock">
  <form class="col-md-6 col-md-offset-3">
    <h1>PG-Chat<span class="msg"></span> </h1>
    <div class="user col-md-12 input-group input-group-lg">
      <span class="input-group-addon"><i class="fa fa-user-circle" aria-hidden="true"></i></span>
      <input type="email" name="email" class="form-control" placeholder="Username" required autoFocus value="test@test.com" />
    </div>
    <div class="pass col-md-12 input-group input-group-lg">
      <span class="input-group-addon"><i class="fa fa-eye" aria-hidden="true"></i></span>
      <input type="password" name="password" class="form-control" placeholder="Password" required value="test"/>
    </div>
    <div class="col-md-12 input-group input-group-lg">
      <button class="login btn lg ghost form-control">Login<i class="fa fa-sign-in" aria-hidden="true" style="margin-left: 30px;"></i></button>
    </div>
    <a class="col-md-12 input-group input-group-lg">
      <button class="registrar btn lg ghost form-control">Registrar<i class="fa fa-sign-in" aria-hidden="true" style="margin-left: 30px;"></i></button>
    </a>
  </form>
</div>
</div>
<script src="/s/js/login.js"></script>
<!-- /.row -->
<%- include ../footer.ejs -%>
